@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Header Images */

#main-header-image {
    background: url(../images/pexels-ioana-motoc-4346325.jpg) center 82% / cover no-repeat;
    height: 290px;
    width: 100%;
    margin-top: 8px;
}

#menu-header-image {
    background: url(../images/pexels-koko-rahmadie-227908.jpg) center 42% / cover no-repeat;
    height: 165px;
    width: 100%;
    margin-top: 8px;
}

#reserve-header-image {
    background: url(../images/pexels-cottonbro-8848783.jpg) center 63% / cover no-repeat;
    height: 150px;
    width: 100%;
    margin-top: 8px;
}

/* Title and Navigation */

#title  {
    margin: 20px;
}

h1,
h2 {
    display: block;
    color: #f0eada;
    text-align: center;
    font-family: 'Lora', serif;
}

body {
    background-color: #072818;
    margin-bottom: 100px;
}

body a {
    text-decoration: none;
}

#navigation-menu    {
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 15px;
    letter-spacing: 1px;
    list-style-type: none;
    float: right;
    margin-top: 0px;
    margin-left: 3px;
    line-height: 2px;
    display: inline-flex;
    flex-direction: row-reverse;
}

#navigation-menu a {
    text-decoration: none;
    color: #b69b7d;
    margin: 5px;
}

hr {
    border: 1px solid #864c24;
}

#navigation-line {
    margin-top: 35px;
}


/* About Us*/

#about-text {
    color: #f2ebd8;
    font-family: 'Lora', serif;
}

#about {
    margin-bottom: 100px;
}

/* Drinks Menu */
/* Teas */

#teas   {
    background: url(../images/pexels-eva-bronzini-6087517.jpg) center 20% / cover no-repeat;
    background-size: 100%;
}

#black, #green, #white    {
    color: #b69b7d;
    width: 33%;
    text-align: center;
    font-family: 'Lora', serif;
    font-weight: bold;
    display: inline-table;
}

#black  {
    background-color: #120f12;
}

#black-list {
    float: left;
    font-weight: lighter;
    color: #f2ebd8;
    text-align: left;
    font-size: 84%;
    padding-left: 3px;
    background-color: #120f12;
}

#green  {
    margin: 0 auto;
}

#green-list  {
    color: #f2ebd8;
    list-style-type: none;
    font-weight: lighter;
    text-align: justify;
    font-size: 90%;
}

#white  {
    float: right;
    background-color: #f2ebd8;
    height: 200px;
}

#white-list  {
    float: right;
    list-style-type: none;
    font-weight: lighter;
    color: #072818;
    text-align: right;
    font-size: 90%;
    padding-right: 3px;
    background-color: #f2ebd8;
}

/* Other Drinks */

#chocolate, #cold, #coffee    {
    color: #b69b7d;
    width: 33%;
    text-align: center;
    font-family: 'Lora', serif;
    font-weight: bold;
    display: inline-table;
}


#chocolate  {
    background-color: #120f12;
}

#chocolate-drinks {
    float: left;
    font-weight: lighter;
    color: #f2ebd8;
    text-align: left;
    font-size: 84%;
    padding-left: 3px;
    background-color: #120f12;
}

#cold  {
    margin: 0 auto;
}

#cold-drinks  {
    color: #f2ebd8;
    list-style-type: none;
    font-weight: lighter;
    text-align: justify;
    font-size: 90%;
}

#coffee {
    float: right;
    background-color: #f2ebd8;
    height: 200px;
}

#coffee-drinks  {
    float: right;
    list-style-type: none;
    font-weight: lighter;
    color: #072818;
    text-align: right;
    font-size: 90%;
    padding-right: 3px;
    background-color: #f2ebd8;
}

/* Extras */

#cake, #books, #seasonal    {
    color: #b69b7d;
    width: 33%;
    text-align: center;
    font-family: 'Lora', serif;
    font-weight: bold;
    display: inline-table;
}


#cake  {
    background-color: #120f12;
}

#cake-menu {
    float: left;
    font-weight: lighter;
    color: #f2ebd8;
    text-align: left;
    font-size: 84%;
    padding-left: 3px;
    background-color: #120f12;
}

#books  {
    margin: 0 auto;
}

#book-menu  {
    color: #f2ebd8;
    list-style-type: none;
    font-weight: lighter;
    text-align: justify;
    font-size: 90%;
}

#seasonal {
    float: right;
    background-color: #f2ebd8;
    height: 200px;
}

#seasonal-menu  {
    float: right;
    list-style-type: none;
    font-weight: lighter;
    color: #072818;
    text-align: right;
    font-size: 90%;
    padding-right: 3px;
    background-color: #f2ebd8;
}

/* Footer */

footer {
    background-color: #864c24;
    font-family: 'Lora', serif;
    color: #f0eada;
    /* padding: 1em; */
    /* text-align: center;  */
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;
    margin: 0;
    padding: 0;
    border: none;
    height: 75px;
}

/* li {
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 15px;
    letter-spacing: 1px;
    list-style-type: none;
    float: right;
    margin-top: 0px;
    margin-left: 3px;
    line-height: 2px;
} */

#sm-icon li {
    padding-top: 4px;
    float: left;
    list-style-type: none;
}

#sm-icon i {
    color: #f0eada;
}

#sm-icon {
    display: inline-block;
    float: left;
}

#sm-icon a {
    color: #f0eada;
    padding-left: 5px;
    text-align: left;
}

h3 {
    color: #f0eada;
}

#address {
    width: 150px;
    margin: 0 auto;
    height: 0px;
    text-align: center;
    font-size: 80%;
}

#address p {
    color: #f2ebd8;
}

#phone {
    float: right;
    text-align: right;
    padding-right: 3px;
    font-size: 59%;
}

#phone p {
    color: #f2ebd8;
}

.text-center {
    text-align: right;
    display: table-footer-group;
}

th,
td {
    border-bottom: 1px solid #f2ebd8;
}