@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

#main-header-image  {
    background: url(../images/pexels-ioana-motoc-4346325.jpg) center 82% / cover no-repeat;
    height: 290px;
    width: 100%;
    margin-top: 8px;
}

h1, h2 {
    display: block;
    color: #f0eada;
    text-align: center;
    font-family: 'Lora', serif;
}

body    {
    background-color: #072818;
}

body a  {
    text-decoration: none;
}

#navigation-menu a  {
    text-decoration: none;
    color: #f0eada;
}


li   {
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 15px;
    letter-spacing: 1px; 
    list-style-type: none;
    float: right;
    margin-top: 0px;
    margin-left: 10px;
    line-height: 2px;
}

hr  {
    border: 1px solid #864c24;
}

#navigation-line    {
    margin-top: 35px;
}

footer  {
    background-color: #864c24;
    color: #f0eada;
    padding: 1em;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;
}

#menu-header-image  {
    background: url(../images/pexels-koko-rahmadie-227908.jpg) center 42% / cover no-repeat;
    height: 165px;
    width: 100%;
    margin-top: 8px;
}

#reserve-header-image  {
    background: url(../images/pexels-cottonbro-8848783.jpg) center 63% / cover no-repeat;
    height: 150px;
    width: 100%;
    margin-top: 8px;
}