@import url(https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap);

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Header Images */

#main-header-image {
    background: url(../images/pexels-ioana-motoc-4346325.webp) center 82% / cover no-repeat;
    height: 290px;
    width: 100%;
    margin-top: 8px;
}

#menu-header-image {
    background: url(../images/pexels-koko-rahmadie-227908.webp) center 42% / cover no-repeat;
    height: 165px;
    width: 100%;
    margin-top: 8px;
}

#reserve-header-image {
    background: url(../images/pexels-cottonbro-8848783.webp) center 63% / cover no-repeat;
    height: 150px;
    width: 100%;
    margin-top: 8px;
}

/* Title and Navigation */

#title {
    margin: 20px;
}

h1,
h2,
legend {
    display: block;
    color: #f0eada;
    text-align: center;
    font-family: 'Lora', serif;
}

body {
    background-color: #072818;
}

body a {
    text-decoration: none;
}

#navigation-menu {
    text-align: center;
    font-family: 'Lora', serif;
    font-size: large;
    letter-spacing: 1px;
    list-style-type: none;
    float: right;
    margin-top: 0px;
    margin-left: 3px;
    line-height: 2px;
    display: inline-flex;
    flex-direction: row-reverse;
}

#navigation-menu a {
    text-decoration: none;
    color: #b69b7d;
    margin: 5px;
}

hr {
    border: 1px solid #864c24;
}

#navigation-line {
    margin-top: 35px;
}

.nav {
    color: #f0eada;
    position: relative;
    text-decoration: none;
}

.nav::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: #f0eada;
    bottom: -1px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.nav:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/* About Us*/

#about-text {
    color: #f2ebd8;
    font-family: 'Lora', serif;
    padding: 7px;
    max-width: 90%;
    margin: 2% 20%;
}

/* Drinks Menu */

/* Teas */

#teas {
    background: url(../images/pexels-eva-bronzini-6087517.webp) center 20% / cover no-repeat;
    background-size: 100%;
}

#black,
#green,
#white {
    color: #b69b7d;
    max-width: 33%;
    text-align: center;
    font-family: 'Lora', serif;
    font-weight: bold;
    display: inline-table;
    height: 304px;
    font-size: 2.5vw;
    margin: auto;
}

#black {
    background-color: #120f12;
}

#black-list {
    float: left;
    font-weight: lighter;
    color: #f2ebd8;
    text-align: justify;
    font-size: 84%;
    padding-left: 3px;
    background-color: #120f12;
}

#green {
    margin: 0 auto;
    margin-left: 60px;
}

#green-list {
    color: #f2ebd8;
    list-style-type: none;
    font-weight: lighter;
    text-align: justify;
    font-size: 90%;
}

#white {
    float: right;
    background-color: #f2ebd8;
    color: #120f12
}

#white-list {
    float: right;
    list-style-type: none;
    font-weight: lighter;
    color: #072818;
    text-align: justify;
    font-size: 90%;
    padding-right: 55px;
    background-color: #f2ebd8;
}

/* Other Drinks */

#other-drinks-background {
    background: url(../images/pexels-neosiam-579216.webp) center 20% / cover no-repeat;
    background-size: 100%;
    color: #35465e;
}

#chocolate,
#cold,
#coffee {
    color: #b69b7d;
    max-width: 33%;
    text-align: center;
    font-family: 'Lora', serif;
    font-weight: bold;
    display: inline-table;
    height: 304px;
    font-size: 2vw;
    margin: auto;
}


#chocolate {
    background-color: #120f12;
}

#chocolate-drinks {
    float: left;
    font-weight: lighter;
    color: #f2ebd8;
    text-align: justify;
    padding-left: 3px;
    background-color: #120f12;
}

#cold {
    margin: 0 auto;
    margin-left: 60px;
}

#cold-drinks {
    color: #f2ebd8;
    list-style-type: none;
    font-weight: lighter;
    text-align: justify;
}

#coffee {
    float: right;
    background-color: #f2ebd8;
    color: #120f12;
    padding-left: 111px;
}

#coffee-drinks {
    list-style-type: none;
    font-weight: lighter;
    color: #072818;
    text-align: justify;
    font-size: 90%;
    padding-right: 105px;
    background-color: #f2ebd8;
}

/* Extras */

#cake,
#books,
#seasonal {
    color: #b69b7d;
    max-width: 33%;
    text-align: center;
    font-family: 'Lora', serif;
    font-weight: bold;
    display: inline-table;
    height: 340px;
    font-size: 2vw;
    margin: auto;
}

#extras {
    background: url(../images/pexels-pixabay-159510.webp) center 60% / cover no-repeat;
    background-size: 100%;
    color: #072818;
}

#cake {
    background-color: #120f12;
    width: 300px;
}

#cake-menu {
    float: none;
    font-weight: lighter;
    color: #f2ebd8;
    text-align: justify;
    padding-left: 3px;
    background-color: #120f12;
}

#books {
    margin: 0 auto;
    margin-left: 60px;
}

#book-menu {
    color: #f2ebd8;
    list-style-type: none;
    font-weight: lighter;
    text-align: justify;
}

#seasonal {
    float: right;
    background-color: #f2ebd8;
    color: #120f12;
}

#seasonal-menu {
    float: right;
    list-style-type: none;
    font-weight: lighter;
    color: #072818;
    text-align: justify;
    font-size: 90%;
    padding-right: 55px;
    background-color: #f2ebd8;
}

#asterisk {
    color: #f0eada;
}

/* Footer */

footer {
    background-color: #864c24;
    font-family: 'Lora', serif;
    color: #f0eada;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;
    margin: 0;
    padding: 0;
    border: none;
    height: 75px;
}

#sm-icon {
    float: left;
}

#sm-icon li {
    padding-top: 4px;
    float: left;
    list-style-type: none;
}

#sm-icon i {
    color: #f0eada;

}

#sm-icon a {
    color: #f0eada;
    padding-left: 5px;
    text-align: left;
}

h3 {
    color: #f0eada;
}

#address {
    width: 150px;
    margin: 0 auto;
    height: 0px;
    text-align: center;
    font-size: 80%;
}

#address p {
    color: #f2ebd8;
}

#phone {
    float: right;
    text-align: right;
    padding-right: 3px;
    font-size: 59%;
}

#phone p {
    color: #f2ebd8;
}

.text-center {
    text-align: right;
    display: table-footer-group;
}

th,
td {
    border-bottom: 1px solid #f2ebd8;
}

/* Reserve Page Forms */

legend {
    display: block;
    color: #b69b7d;
    text-align: center;
    font-family: 'Lora', serif;
    font-weight: bold;
}

form {
    display: block;
    text-align: center;
    font-family: 'Lora', serif;
    color: #f2ebd8;
}

input,
textarea {
    width: 50%;
    float: right;
}

label {
    float: left;
}

/* Styled Submit Buttons */
.button-86 {
    all: unset;
    width: 100px;
    height: 30px;
    font-size: 16px;
    background: transparent;
    border: none;
    position: relative;
    color: #f0eada;
    cursor: pointer;
    z-index: 1;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 13px;
}

.button-86::after,
.button-86::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
}

.button-86::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #864c24;
    border-radius: 10px;
}

.button-86::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #ffffff15;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
}

.button-86:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
}

.button-86:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
}

.button-86:active::after {
    transition: 0s;
    transform: translate(0, 5%);
}

.book-submit {
    background-color: #864c24;
    color: #f0eada;
    float: left;
    margin-top: 10px;
}

#guest-number {
    float: right;
}

#map iframe {
    margin-top: 17px;
    width: 100%;
    margin-bottom: -4px;
}

#reserve-box form {
    margin: 22px 20px;
}

/* For screen sizes from  320px to 770px*/
@media screen and (min-width: 320px) and (max-width: 770px) {

    /* Navigation Bar */

    #navigation-menu {
        clear: left;
        margin-left: -176px;
        left: 50%;
        position: absolute;
        font-size: x-large;
        letter-spacing: 0;
    }

    #navigation-menu a {
        text-decoration: none;
        color: #b69b7d;
        margin: 5px;
    }

    /* Drinks Menu */

    /* Teas */

    #black,
    #green,
    #white {
        color: #b69b7d;
        max-width: 100%;
        text-align: center;
        font-family: 'Lora', serif;
        font-weight: bold;
        display: block;
        height: 100%;
        font-size: 5vw;
        margin: auto;
        padding: 10px;
    }

    #black {
        background-color: #120f12;
    }

    #black-list {
        float: none;
        font-weight: lighter;
        color: #f2ebd8;
        text-align: justify;
        font-size: 84%;
        padding: 15px;
        background-color: #120f12;
        list-style-type: decimal
    }



    #green {
        margin: 0 auto;
    }

    #green-list {
        color: #f2ebd8;
        list-style-type: none;
        font-weight: lighter;
        text-align: justify;
        font-size: 90%;
        list-style-type: decimal;
        padding: 15px;
    }

    #white {
        float: none;
        background-color: #f2ebd8;
        color: #120f12
    }

    #white-list {
        float: none;
        list-style-type: circle;
        font-weight: lighter;
        color: #072818;
        text-align: justify;
        font-size: 90%;
        padding: 15px;
        background-color: #f2ebd8;
        list-style-type: decimal
    }

    /* Other Drinks */

    #other-drinks-background {
        background: url(../images/pexels-neosiam-579216.webp) center 20% / cover no-repeat;
        background-size: 100%;
        color: #35465e;
    }

    #chocolate,
    #cold,
    #coffee {
        color: #b69b7d;
        max-width: 100%;
        text-align: center;
        font-family: 'Lora', serif;
        font-weight: bold;
        display: block;
        height: 100%;
        font-size: 5vw;
        margin: auto;
        padding: 10px;
    }


    #chocolate {
        background-color: #120f12;
    }

    #chocolate-drinks {
        float: none;
        font-weight: lighter;
        color: #f2ebd8;
        text-align: justify;
        font-size: 84%;
        padding: 15px;
        background-color: #120f12;
        list-style-type: decimal
    }

    #cold {
        margin: 0 auto;
    }

    #cold-drinks {
        color: #f2ebd8;
        list-style-type: none;
        font-weight: lighter;
        text-align: justify;
        font-size: 90%;
        list-style-type: decimal;
        padding: 15px;
    }

    #coffee {
        float: none;
        background-color: #f2ebd8;
        color: #120f12
    }

    #coffee-drinks {
        float: none;
        list-style-type: circle;
        font-weight: lighter;
        color: #072818;
        text-align: justify;
        font-size: 90%;
        padding: 15px;
        background-color: #f2ebd8;
        list-style-type: decimal
    }

    /* Extras */

    #cake,
    #books,
    #seasonal {
        color: #b69b7d;
        max-width: 100%;
        text-align: center;
        font-family: 'Lora', serif;
        font-weight: bold;
        display: block;
        height: 100%;
        font-size: 5vw;
        margin: auto;
        padding: 10px;
    }

    #extras {
        background: url(../images/pexels-pixabay-159510.webp) center 60% / cover no-repeat;
        background-size: 100%;
        color: #072818;
    }

    #cake {
        background-color: #120f12;
        width: auto;
    }

    #cake-menu {
        float: none;
        font-weight: lighter;
        color: #f2ebd8;
        text-align: justify;
        font-size: 84%;
        padding: 15px;
        background-color: #120f12;
        list-style-type: decimal
    }

    #books {
        margin: 0 auto;
    }

    #book-menu {
        color: #f2ebd8;
        list-style-type: none;
        font-weight: lighter;
        text-align: justify;
        font-size: 90%;
        list-style-type: decimal;
        padding: 15px;
    }

    #seasonal {
        float: none;
        background-color: #f2ebd8;
        color: #120f12
    }

    #seasonal-menu {
        float: none;
        list-style-type: circle;
        font-weight: lighter;
        color: #072818;
        text-align: justify;
        font-size: 90%;
        padding: 15px;
        background-color: #f2ebd8;
        list-style-type: decimal
    }

    #asterisk {
        color: #f0eada;
    }

    /* Footer */

    footer {
        background-color: #864c24;
        font-family: 'Lora', serif;
        color: #f0eada;
        width: 100%;
        position: unset;
        bottom: 0;
        right: 0;
        z-index: 3;
        margin: 0;
        padding: 0;
        border: none;
        height: 420px;
    }

    #sm-icon {
        float: left;
        font-size: 150%;
    }

    #sm-icon p {
        padding-top: 25px;
        font-size: 150%;
    }

    #sm-icon li {
        padding-top: 5px;
        float: left;
        list-style-type: none;
        font-size: xxx-large;
    }

    #sm-icon i {
        color: #f0eada;

    }

    #sm-icon a {
        color: #f0eada;
        padding-left: 13px;
        text-align: left;
    }

    .find {
        display: block;
        padding-top: 35px;
    }

    h3 {
        color: #f0eada;
    }

    #phone {
        float: right;
        text-align: right;
        padding-right: 13px;
        font-size: 100%;
        margin-top: 25px;
        margin-left: 20px;
    }

    #address {
        width: 179px;
        margin: 0 auto;
        height: 61px;
        text-align: right;
        font-size: 100%;
        float: right;
        padding-right: 13px;
    }

    #address p {
        color: #f2ebd8;
    }

    #phone p {
        color: #f2ebd8;
    }

    .text-center {
        text-align: right;
        display: table-footer-group;
    }

    th,
    td {
        border-bottom: 1px solid #f2ebd8;
    }

}